.header_wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_wrapper_greet {
  width: 30%;
}
.header_wrapper_icon {
  background-color: rgb(70, 152, 204);
  border-radius: 25px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
