.search_container {
  padding-bottom: 10px;
  padding-top: 30px;
  width: 80%;
  margin: auto;
}
.search_container_input {
  width: 100%;
  background-color: rgb(70, 152, 204);
}

.search_container_input {
  border-radius: 25px;
  margin: auto;
}
#outlined-basic {
  font-size: large;
  width: 100%;
  height: 50px;
}
