.search_container{
  width: 80%;
  margin: auto;
  
}
.search_container_input{
  width: 100%;
  background-color: lightskyblue ;
}
/* .search_container_input > input{
  width: 100%;
  height: 50px;
  border-radius: 15px;
  font-size: medium;
  padding-left: 20px;
  margin-top: 1rem;
} */

.search_container_input{
  border-radius: 15px;
  margin: auto;
}
#outlined-basic{
  font-size: large;
  width: 100%;
  height: 50px;
}